body{
    margin : 0px;
    padding : 0px;

    background-color:black;
}

@font-face{
    font-family: BrokenConsole;
    src: url(Fonts/Broken\ Console\ Bold.ttf);

}


@font-face{
    font-family : Microcosmos;
    src : url(Fonts/MicrocosmosRegular-03LR.ttf);
}